body {
  font-family: sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 25px;
  text-decoration: underline;
  text-shadow: 2px 2px 2px #ababab;
}
h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  border-style: double;
}
div {
  width: 44em;
  margin-left: auto;
  margin-right: auto;
}
fieldset {
  border-radius: 10px;
  padding: 15px;
}
legend {
  color: #a0522d;
  font-style: italic;
  font-weight: bold;
}